Ram is a Volatile .
If machine is Closed, Since ram is volatile, Sara ka Sara memory , variables jo occupied tha Program k through wohh hatt jata h .
Isliye jab machine hang hoa h , Jan apan usko close krte h Tab thikh Ho jata h.

In Ram where data is stored=>Registers=>Made of Flip flop=> Made of Logic Gates => Made of a Diode.

In [ ]:
#Aliasing
a=5
b=a
id(a)

140653766478256

In [ ]:
id(b)
#here we got the Sm

140653766478256

In [ ]:
c=b
id(c)

140653766478256

In [ ]:
#del a means u r deleting a refrence point which is ointing to
del a
a

NameError: ignored

In [ ]:
# Refrence Counting
import sys
a="Corona"
b=a
c=b
id(a)

140652722565360

In [ ]:
id(b)

140652722565360

In [ ]:
id(c)

140652722565360

In [ ]:
#To check how many variables are pointing.
#We check.
# I mean the Arrows.

sys.getrefcount(a)

7

**Garbage Collectio**n:  This means when we del , it actually deletes a Pointer but in memory there is stored something and it is not deleted.
So mechanism of Garbage Collection Comes into the picture. Where it free up's the memory. And the memory is empty.
In Java there is Also Garbage Collector.

In [ ]:
#Wierd Behaivior
a=2
b=a
c=b
sys.getrefcount(a)
#Here you can see that it should be between 4 to 10 but you can see that
#But it showed 8996 because 2 is a common number, and many variables in your
# system are using 2.

8996

In [ ]:
a=4
b=4
id(a)

140653766478224

In [ ]:
id(b)

140653766478224

In [ ]:
#There is a Range from 1 to 256. There will be's Differenet id's.
a=257
b=257
id(a)

140652502992656

In [ ]:
id(b)

140652502991792

**#Mutuability:**
Refers to the ability to change or edit data in its memory location.
If we can address it is Mutuable.

Side effects:
If we assign a List and Intialized it to L1 and if we append values in L1 it will change in L also .

So to avoid this we do Cloning

In [ ]:
L6=[1,2,3,4]
id(L6)

140337397591360

In [ ]:
L7=L6
id(L7)
L7.append(5)
L7

[1, 2, 3, 4, [...], 5, 5, 5, 5, 5]

In [ ]:
L6
#Here this can create a problem becoz changes are made in L7 but it hs also effected L6
#So to avoid this we do cloning.

[1, 2, 3, 4, [...], 5, 5, 5, 5, 5]

In [ ]:
#SO do this
L6=[1,2,3,4]
L6=L7[:]

#Functions: WE Saw here how function is called.
Global Frame.

In [ ]:
#here number is parameter.
#Brightness level is a parameter and in it 0 to 10 are arguments
def even(number):
  if type(number)==int:
    if number%2==0:
      return("EVEN")
    else:
      return("ODD")
  else:
    return"NOT VALID"

x=even(4)
print(x)

EVEN

In [ ]:
#Default arguments

def power(a=1,b=1):
  return (a**b)

power(2)

2

In [ ]:
#Positional argument

power(b=2,a=3)

9

In [ ]:
#Arbitary Argument
print(1,2,3)

1 2 3

In [ ]:
def flexi(*number):
  product=1

  for i in number:
     product=product*i
     print(product)
flexi(2)

2

#GLOBAL and LOCAL VARIABLE:

In [ ]:
def f(y):
  x=1
  x+=1
  print(x)
#Varibale inside a function is a Local Variable.

x=5
f(x)
print(x)
#Varibale inside a function is a GLobal Variable.

2
5

In [ ]:
def g(y):
  print(x)
  print(x+1)
#Varibale inside a function is a Local Variable.

x=5
g(x)
print(x)

5
6
5

In [ ]:
def h(y):
  global x
  x+=1


x=5
h(x)
print(x)

6

In [ ]:
def f(x):
  x=x+1
  print("In f(x): x=",x)
  return x

x=3
z=f(x)
print("In main program scope: z=",z)
print("In main program scope: x=",x)

In f(x): x= 4
In main program scope: z= 4
In main program scope: x= 3

In [ ]:
def g(x):
  def h():
    x="abc"
  x=x+1
  print("In g(x):x = ",x)
  h()
  return x

x=3
z=g(x)

In g(x):x =  4

In [ ]:
def g(x):
  def h(x):
    x=x+1
    print("In h(x): x = ", x)
  x=x+1
  print("In g(x): x ",x)
  h(x)
  return x

x=3
z=g(x)
print("In main program scope: x= ",x)
print(" In main program scope: z= ", z)

In g(x): x  4
In h(x): x =  5
In main program scope: x=  3
 In main program scope: z=  4