In [ ]:
def multiply(a,b):
  result=0
for i in range(b):
  result=result+a

  print(result)



multiply(3,4)

NameError: ignored

In [ ]:
#Now using recursion
#here u identify a base condition .
"""if equal to base condition then terminate"""
def mul(a,b):

 if b==1:
   return a
 else:
    return a+mul(a,b-1)
print(mul(3,5))

15

In [ ]:
def fact(number):
  if number==1: #base condition
    return 1
  else:
    return number*fact(number-1)

print(fact(5))

120

In [ ]:
def palin(text):
  if len(text)==1:
    print("Palindrome")
  else:
    if text[0]==text[-1]:
      palin(text[1:-1])
    else:
      print("Not a palin")

palin("madam")

Palindrome

**LAMBDA** **FUNCTION**:
Lambda has no return value as u return in a Function.
Lambda is one line function.

In [ ]:
b=lambda x:x[0]=="a"
b("apple")

True

In [ ]:
b=lambda x:"Even" if x%2==0 else "odd"
b(3)

'odd'

In [ ]:
#HOF
L=[11,14,21,23,56,78,45,29,28]

def return_sum(func,L):

  result =0

  for i in L:
    if func(i):
      result=result+i

    return result

x= lambda x:x%2==0
y= lambda x:x%2!=0
z= lambda x:x%3==0

print(return_sum(x,L))
print(return_sum(y,L))
print(return_sum(z,L))

0
11
0

**MAP**: Already function in a Python .
it accepts function and Iterable.
In map we can apply operation to each item .

In [ ]:
L=[1,2,3,4,5,6,7]
map(lambda x:x*2,L)
list(map(lambda x:x*2,L))

[2, 4, 6, 8, 10, 12, 14]

In [ ]:
list(map(lambda x:x%2==0,L))

[False, True, False, True, False, True, False]

**FILTER**: Generally we can apply
condition, We use filter....
To filter out we do filtering.

In [ ]:
L
list(filter(lambda x:x>0,L))

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
fruits=["apple","orange"]
list(filter(lambda fruits: "e"in fruits,fruits))

['apple', 'orange']

REDUCE: Reduce reduces List.
We need it import Functools.

In [ ]:
import functools
L
functools.reduce(lambda x,y: x+y,L)

28

In [ ]:
L1=[12,43,56,21,58]
functools.reduce(lambda x,y:x+y,L1)

190

In [ ]:
L1=[12,43,56,21,58]
functools.reduce(lambda x,y:x if x>y else y ,L1)

58

**List** **Comprehension**: FOr making a Quick new list by applying some condtion.

In [ ]:
L
L1=[item *2 fro item in L]

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
fruits.append("Mango")
fruits
L3=[fruit for fruit in fruits if fruits[0]=="o"]
L3

[]